.pdp_product_img_container {
  width: 400px;
  max-width: 100%;
}

.pdp_product_img {
  width: 100%;
}

.product_grid {
  max-width: 100%;
  display: block;
  @media screen and (min-width: 769px) {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product_grid_item {
  margin-bottom: 1.7rem;
  @media screen and (min-width: 769px) {
    margin-right: 1rem;
  }
}

.products_link {
  text-decoration: none;
  color: rgb(26, 23, 23);
  margin: 0rem 1rem;
  display: block;
}
.product_product_brandName {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
}

.product_product_name {
  font-weight: 400;
  font-size: 0.85em;
  max-width: 90%;
}
